*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

main{
  background-color:aliceblue ;
}

#titulo{
  font-size: 2.5rem;
}
nav{
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: end;
  font-size: 20px;
  background-color: #2B3499;
}

h1 {
  color: #3B3486; 
  background-color: #F0F0F0;
  display: flex;
  font-size: 500%;
  text-shadow: 
    -2px -2px 0 #f89233,  
    2px -2px 0 #f89233,
    -2px 2px 0 #f89233,
    2px 2px 0 #f89233;
}

h2 {text-align: center;
  background-color: #2B3499;
  color: #ffffff;
  padding: 25px;
  font-size:40px;
}

nav a{
  border-radius: 12px;
  background-color: #3B3486;
  color: white;
  padding: 5px 15px;
  text-decoration: none; 
  margin-right: 5px;
}
nav a[href="#"] {
  color: #FF9209;
  font-weight: bold; 
  text-decoration: none
}

p>a{
  border-radius: 20px;
  background-color: #FF9209;
  color: white;
  padding: 2px 10px;
  text-decoration: underline; 
}

#fondo{
  height: 34vh;
  background-image: url(/assets/imgs/design1_image1.jpg);
  background-position-y: center;
  background-size: auto;
  object-fit: fill;
}

.titulo{
  display: flex;
  justify-content: center;
  font-size: xx-large;
}

.apart{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  margin-top: 6rem;
  height: 6rem;
}
p{
  font-size: large;
}

#contenedor-principal>strong{
  text-align: center;
  background-color:#ffffff;
  font-size: x-large;
}

main>img{
  position: absolute;
  left: 5vw;
  height: 175px;
  top: 20rem;
}

#contenedor-principal{
  display: flex;
  flex-direction: column;
  min-height: 90vh; /* Asegura que el contenedor ocupe al menos toda la altura de la ventana del navegador */
  justify-content: space-between
}
#contacto{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between
}
h3{
  font-size: 150%;
  color: #b62c11;
}
h4{
  color: #000000;
}
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 90px;
  background-color: #2B3499;
}

ol {
  padding: 15px;
  background-color: aliceblue;
}

.aparte{
  display: flex;
  margin-top: 4rem;
}

ul {
  list-style-position: inside;
  padding-left: 0; 
}

#cap{
  text-decoration: underline;
}

table,th,tr,td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

th{
  background-color: rgb(245, 209, 8);
}

tfoot,tr{
  background-color:antiquewhite;
}

section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

form{
  background-color: #ffffff;
  flex: 1;
  width: 45rem;
  display: flex;
  float: left;
  flex-direction: column;
  gap: 0.5rem;
}

button{
  padding: 1rem;
}

fieldset{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

#contenedorform{
  display: flex;
}
#contenedorform>aside{
  float: right;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#abcd{
  list-style: lower-alpha;
}

#images>img{
  width: 400px;
}
#images{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#mapas{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}